@model Group17_iCLOTHINGApp.Controllers.UserPasswordsController.Account

@{
	ViewBag.Title = "Edit";
}

@if (Model.customer != null)
{
	using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.customer.customerID)
			@Html.HiddenFor(model => model.customer.customerDOB)
			@Html.HiddenFor(model => model.customer.userID)
			@Html.HiddenFor(model => model.password)

			<div class="form-group">
				@Html.LabelFor(model => model.customer.customerName, "Full Name", htmlAttributes: new { @style = "width: 10%;", @class = "control-label col-md-1" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.customer.customerName, new { htmlAttributes = new { @oninput = "IsComplete()", @id = "name", @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.customer.customerName, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.customer.customerGender, "Gender", htmlAttributes: new { @style = "width: 10%;", @class = "control-label col-md-1" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.customer.customerGender, new { htmlAttributes = new { @oninput = "IsComplete()", @id = "gender", @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.customer.customerGender, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.customer.customerShippingAddress, "Shipping Address", htmlAttributes: new { @style = "width: 10%;", @class = "control-label col-md-1" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.customer.customerShippingAddress, new { htmlAttributes = new { @oninput = "IsComplete()", @id = "saddr", @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.customer.customerShippingAddress, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.customer.customerBillingAddress, "Billing Address", htmlAttributes: new { @style = "width: 10%;", @class = "control-label col-md-1" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.customer.customerBillingAddress, new { htmlAttributes = new { @oninput = "IsComplete()", @id = "baddr", @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.customer.customerBillingAddress, "", new { @class = "text-danger" })
				</div>
			</div>


			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input id="submit-button" type="submit" value="Save" class="btn btn-primary" disabled />
				</div>
			</div>
		</div>

		<script>
			var nameCompleted = genderCompleted = false

			function VerifyName() {
				var name = document.getElementById("name").value

				nameCompleted = (name != '')
			}

			function VerifyGender() {
				var gender = document.getElementById("gender").value

				genderCompleted = (gender != '')
			}

			function IsComplete() {
				VerifyName()
				VerifyGender()
				document.getElementById("submit-button").disabled = !(nameCompleted && genderCompleted);
			}
		</script>
	}
}
else
{
	<hr />
}
<div>
	@Html.ActionLink("Log Out", "Index", new { status = true })
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

