@model IEnumerable<Group17_iCLOTHINGApp.Models.UserQuery>

@{ ViewBag.Title = "Index";
}

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.queryDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.queryDescription)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customer.customerName)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.queryDate)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.queryDescription)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.Customer.customerName)
	</td>
</tr>}

</table>
