@model IEnumerable<Group17_iCLOTHINGApp.Models.ShoppingCart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.productName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.customerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.productName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cartID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cartID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cartID })
        </td>
    </tr>
}

</table>
