@model Group17_iCLOTHINGApp.Controllers.DepartmentsController.CatalogInformation

@{
    ViewBag.Title = "AdminFilter";
}

@{var category = Model.categories[0]; Model.categories.RemoveAt(0);}
<hr />
<a href=@Url.Action("Admin", "Departments", new {sort = 0})>@Html.DisplayName("Return To Catalog")</a>
<br /><br />
<p>
    @Html.ActionLink("Add Category", "CreateCategory", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Edit Category", "EditCategory", new { id = category.categoryID }, new { @class = "btn btn-primary" })
</p>
<hr />
<div class="row">
    @foreach (var item in Model.departments)
    {
        <div class="col-md-3">
            <h4>@Html.DisplayFor(modelItem => item.departmentName)</h4>

            <h5>@Html.DisplayFor(catDisplay => category.categoryName)</h5>

            @foreach (var cat in Model.categories)
            {
                <a href=@Url.Action("AdminFilter", "Departments", new {id = cat.categoryID })>@Html.DisplayFor(modelCategory => cat.categoryName)</a><br />
            }
        </div>
    }
</div>
<hr />

<form id="search_form" action="/Departments/AdminFilter" method="Post">
    @Html.AntiForgeryToken()
    <div class="form-inline">
        <input type="hidden" name="id" value=@category.categoryID class="form-control rounded">
        <input type="text" placeholder="Search..." name="search" class="form-control rounded">
        <button type="submit" class="btn btn-primary form-group">Submit</button>
    </div>
</form>

<hr />
<p>
    @Html.ActionLink("Add Product", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>
            <a href=@Url.Action("AdminFilter", "Departments", new {id = category.categoryID, srt = 0})>@Html.DisplayName("Product Name")</a>
        </th>
        <th>
            <a href=@Url.Action("AdminFilter", "Departments", new {id = category.categoryID, srt = 1})>@Html.DisplayName("Brand")</a>
        </th>
        <th>
            <a href=@Url.Action("AdminFilter", "Departments", new {id = category.categoryID, srt = 2})>@Html.DisplayName("Price")</a>
        </th>
        <th>
            <a href=@Url.Action("AdminFilter", "Departments", new {id = category.categoryID, srt = 3})>@Html.DisplayName("Quantity")</a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.products)
    {
        var brandName = (from brand in Model.brands where item.brandID == brand.brandID select brand.brandName);
        var priceToCurrency = item.productPrice.ToString("C", System.Globalization.CultureInfo.CurrentCulture);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => brandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => priceToCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productQty)
            </td>
            <td>
                @if (item.productQty == 0)
                {
                    <p>Out of Stock</p>
                }
                else
                {
                    <span>@Html.ActionLink("About", "Details", new { id = item.productID }, new { @class = "btn btn-primary" })</span>
                }
                @Html.ActionLink("Edit", "Edit", new { id = item.productID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.productID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>
