@model Group17_iCLOTHINGApp.Models.AboutUs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AboutUs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shippingPolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shippingPolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.returnPolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.returnPolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Administrator.adminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrator.adminName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.companyAddress }) |
    @Html.ActionLink("Back to List", "Index")
</p>
